@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to my Diplomacy Website</h1>
</div>
@await Html.PartialAsync("~/Views/Shared/WIP.cshtml") <!-- Adds construction animation -->